/lt_model/obj/*
/lt_model/bin/*
/lt_model/input_file/cnf_to_test*
/lt_model/input_file/source_test*
/lt_model/output_file/*
/lt_model/unit_test/bin/*
/lt_model/unit_test/test_dual_port_fifo*
/lt_model/unit_test/obj/*
simv
src/uc/DVEfiles
src/uc/csrc
*.synopsys_dve_rebuild.tcl
*.vpd
*.key
*.out
*.old
*.daidir
csrc
simv*
ucli.key
DVEfiles
program.out
*.vpd*
*.log
*.dump
.__*
vc_hdrs.h
trace.cnf
trace.out
